{% extends 'base.html' %}
{% block content %}
<h1>New Game</h1> <br> </br>
<h2>Please enter Player:</h2>
<form method="post" action="/bestballapp/newgame/" class="form-group">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit">
</form>
  <form method="post">
    <label for="num_players">Number of Players:</label>
    <select name="players">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br>
{% endblock %}
