{% for player in players %}
{% load static %}
<style>
  body {
    /* background-color: rgb(83, 224, 168); */
    background-image: url("{% static 'GolfGreen.jpeg' %}");
  }
  h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 10%;
    background-image: url("{% static 'ball.png' %}");
    background-size: .8%;
    /* display: inline-block; */
  }
  p {
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS';
    font-size: 145%;
    background-color: rgba(255, 255, 255, 0.696);
    text-align: center;
    /* display: inline-block; */
  }
  li {
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    padding: 3px;
    background-color: rgba(83, 224, 168, 0.754);
    text-align: center;
    background-size: 2%;
  }
</style>
  <h2>{{ player.name }}</h2>
  <p>Golf stats for {{ player.name }}:</p>
  <ul>
    <li>Current Ball: {{ player.currentBall }}</li>
    <li>Strokes: {{ player.currentBall.strokes }}</li>
    <li>Distance From Hole: {{ player.currentBall.distanceFromHole }}</li>
    <li>Previous Ball Spin: {{ player.currentBall.lastSpin }}</li>
    <li>Average Ball Speed: 42% (Fake)</li>
    <li>Club angle: 90 degrees (Fake)</li>
  </ul>
{% endfor %}

<script>
  setInterval(function(){
    location.reload();
  }, 500); // Refresh the page every 5 seconds
</script>

